[{:type :dialog
  :conditions [{:type :speak-to
                :mob :sordna}]
  :dialog [{:mob :sordna
            :messages ["Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                     "reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."]}]
  :outcomes [{:type :move-mob
              :mob :sordna
              :coords [352 176]}
             {:type :grant
              :grant :sordna-moved}]}

 {:type :room-loaded
  :conditions [{:type :room-loaded
                :room :main}
               {:type :has-grant
                :grant :sordna-moved}]
  :room :main
  :outcomes [{:type :set-mob-coords
              :mob :sordna
              :coords [352 176]}]}]