{:warg-1 [[{:warg {:x 0.2
                  :y 0.2}}
           {:warg {:x 0.3
                  :y 0.4}}]
          [{:warg {:x 0.3
                   :y 0.15}}
           {:warg {:x 0.2
                   :y 0.3}}
           {:warg {:x 0.3
                   :y 0.45}}]]}