[ {:type :dialog
   :conditions [{:type :speak-to
                 :mob :agnos}
                {:type :has-item
                 :item :brilliant-amulet}]
   :dialog [{:mob :agnos
             :messages ["Oh wow! The amulet look amazing!"]}]
   :outcomes [{:type :mob-animation
               :mob :agnos
               :animation :dance}
              {:type :player-animation
               :animation :dance}]}

 {:type :dialog
  :conditions [{:type :speak-to
                :mob :agnos}
               {:type :has-grant
                :grant :gain-blemished-item}]
  :dialog [{:mob :agnos
            :messages ["I hope the amulet serves you well."]}]
  :outcomes []}

 {:type :dialog
  :conditions [{:type :speak-to
                :mob :agnos}
               {:type :not-has-grant
                :grant :gain-blemished-item}]
  :dialog [{:mob :agnos
            :messages ["Please, take this amulet."]}
           {:mob :player
            :messages ["Are you sure?"]}
           {:mob :agnos
            :messages ["Yes."]}]
  :outcomes [{:type :gain-item
              :item :blemished-amulet}
             {:type :grant
              :grant :gain-blemished-item}]}]