{:doors {:brown-door {:closed 85
                      :opened 74}
         :gray-door  {:closed 89
                      :opened 78}}
 :chests {:default {:closed 136
                    :opened 137}}}